lombok.log.fieldName = LOG
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.nonNull.exceptionType = IllegalArgumentException
lombok.accessors.chain = true
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
