<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="stdout-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <thread>thread</thread>
                <logger>class</logger>
                <version>[ignore]</version>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <caller>trace</caller>
                <stackTrace>stacktrace</stackTrace>
            </fieldNames>
            <timeZone>UTC</timeZone>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss,SSSXXX</timestampPattern>
            <throwableConverter
                    class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>10000</maxLength>
                <shortenedClassNameLength>30</shortenedClassNameLength>
                <rootCauseFirst>true</rootCauseFirst>
                <inlineHash>true</inlineHash>
            </throwableConverter>
        </encoder>
    </appender>
    <springProfile name="local,default">
        <root level="INFO">
            <appender-ref ref="stdout-json"/>
        </root>
    </springProfile>
</configuration>